.b-breadCrumbs {
    display: flex;
    list-style-type: none;

    &_margin {
        margin-top: 16px;
        margin-bottom: 8px;
    }
    &__link {
        font-family: Montserrat;
        font-size: 12px;
        line-height: 16px;
        color: rgba(0, 0, 0, 0.54);
        &_marginRight {
            margin-right: 9px;
        }
    }
}
@media (max-width: 667px) {
    .b-breadCrumbs {
        display: none;
    }
}
