.b-planingPanel {
    background-color: #ffffff;
    box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.08);
    width: 856px;
    height: 940px;
    padding: 20px 16px 20px 24px;
    box-sizing: border-box;
    animation-name: planing_open;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    &_position {
        position: absolute;
        top: 18px;
        right: -856px;
    }
    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.87);
        margin: 0;
    }
    &__control {
        display: flex;
    }
    &__controlImg {
        height: 12px;
        cursor: pointer;
        &_smallMargR {
            margin-right: 4px;
        }
        &_marR {
            margin-right: 27px;
        }
    }
}
@keyframes planing_open {
    0% {
        right: -856px;
    }
    100% {
        right: 0;
    }
}

.b-tabs {
    display: flex;
    @media (max-width: 667px) {
        :first-child {
            margin-left: 18px;
        }
    }
    &__point {
        height: 36px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: rgba(0, 0, 0, 0.54);
        display: flex;
        align-items: center;
        margin-right: 25px;
        box-sizing: border-box;
        cursor: pointer;
        @media (max-width: 667px) {
            margin-right: 16px;
        }
        &_active {
            color: rgba(0, 0, 0, 0.87);
            border-bottom: 2px solid #1071ff;
        }
    }
    &__line {
        color: rgba(0, 0, 0, 0.08);
    }
    &_marT {
        margin-top: 21px;
    }
}
