.b-navPanel {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
    &__sideBar {
        &_marginLeft {
            margin-left: 27px;
        }
    }
    &__planing {
        display: flex;
    }
    &__title {
        display: none;
        font-family: Montserrat bold;
        font-size: 14px;
        line-height: 18px;
        color: rgba(0, 0, 0, 0.87);
    }
}
.b-link {
    &__simbol {
        cursor: pointer;
        &_marginRight {
            margin-right: 11px;
        }
    }
    &_marginRight {
        margin-right: 44px;
    }
    &__text {
        cursor: pointer;
        font-family: Montserrat bold;
        font-size: 12px;
        line-height: 16px;
        color: #1071ff;
        margin: 0;
    }
    &__cover {
        position: absolute;
        display: none;
        z-index: 5;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.719);
        &_show {
            display: block;
        }
    }
}
@media (max-width: 667px) {
    .b-navPanel {
        height: 40px;
        &__sideBar {
            &_marginLeft {
                margin-left: 20px;
            }
        }
        &__title {
            margin: 0;
            display: block;
        }
    }
    .b-link {
        &__simbol {
            height: 16px;
            &_marginRight {
                margin-right: 0;
            }
        }
        &_marginRight {
            margin-right: 20px;
        }
        &__text {
            display: none;
        }
    }
}
